
body {
    background-color: #1b1b1b;
    font-family: "Barlow", sans-serif;
    text-align: center;
}

.section{
    margin: auto;
    width: 80%;
    /* border: 1px solid black; */
    border-radius: 50px;
    padding: 10px;
    background-color: #101010;
}

button{
    margin-top: 7px;
    border-radius: 10px;
    padding: 10px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    user-select: none;
    font-size: 3vw;
}

.field{
    position: relative;
    width: min(60vw, 90vh);
    margin-bottom: min(12vw, 18vh);
    height: fit-content;
    margin-inline: auto;
}

.main-buttons button{
    position:absolute;
    width:min(10vw, 15vh);
    height:min(10vw, 15vh);
    opacity: 40%;
    transform:translate(-50%,-50%);
}

.fieldButton-L{
    left:34%;
    top:87%;
} 
.fieldButton-R{
    left:63%;
    top:87%;
} 
.fieldButton-O{
    left:20%;
    top:9%;
} 
.fieldButton-D{
    left:71.5%;
    top:9%;
}
.fieldButton-S{
    left:49%;
    top:49%;
}
.fieldButton-C{
    left:45%;
    top:13%;
}
.fieldButton-BR{
    left:50%;
    top:97%;
}

.start-buttons{
    display:flex;
    position:absolute;
    width:100%;
    height:20%;
    top:30%;
    align-content: center;
}

.start-buttons button{
    width:32%;
    height: 100%;
    opacity:30%;
    margin-inline: auto;

}

.action-grid{
    display:grid;
    width: fit-content;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-inline: auto;
}

.action-container {
  border: .5vw solid white;
  width : min(15vw, 22vh);
  height : min(15vw, 22vh);
  margin: 1vw;
  position: relative
}
.action{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.action h1{
    font-size:min(7.5vw, 11vh);
    margin:0;
    width:100%;
    margin-inline:auto;
    user-select: none;
}

h1{
    color:#e9fbff;
}

h2{
    color:#e9fbff;
    user-select: none;
}

h3{
    color:#e9fbff;
    user-select: none;
}

p{
    color:#e9fbff;
    user-select: none;
}

label{
    color: #e9fbff;
}