

body {
    cursor: url('../images/pixelatedGoat.png'), auto;
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin-top: 150px;
    z-index: 200;
}

.buttonField {
    display: flex;
    flex-direction: row;
    width: 1070px;               
    height: auto;                
    gap: 1px;                    
}

.leftField,
.rightField {
    width: 25%;                 
}

.middleLeftField,
.middleRightField {
    display: flex;
    flex-direction: column;
    width: 25.5%;
    align-items: center;
    gap: 2px;                    
}

.middleLeftField {
    margin-right: 0.2px;
}

.left-most-button,
.right-most-button,
.midButton{
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    width: 100%;
    height: auto;               
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.left-most-button img,
.right-most-button img,
.midButton img {
    display: block;
    width: 100%;
    height: auto;
}

#midLeft4 {
    margin: 0.6px;
}

/*
.left-most-button,
.right-most-button {
    background: rgba(0,0,0,0.05);
}
.middleLeftField,
.middleRightField {
    background: rgba(255,0,255,0.03);
}
*/

.left-most-button:hover,
.right-most-button:hover,
.midButton:hover{
    filter: brightness(0.8);
    transform: scale(1.05);
}


.Count, .CountEdge, .CountEdgeBottom, .CountMid, .CountMidAdj {
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(30px, 5vw, 60px);
    opacity: 0.1;
}

.CountEdge{
    top: 15%;
    font-size: clamp(20px, 4vw, 40px);
}

.CountEdgeBottom{
    top: 7%;
    font-size: clamp(20px, 4vw, 40px);

}

.CountMid{
    left: 43%;
    top: 25%;
    font-size: clamp(25px, 4.5vw, 50px);
}

.CountMidAdj{  
    left: 38%;
    top: 25%;
    font-size: clamp(25px, 4.5vw, 50px);
}   