

body {
    background-color: #1b1b1b;
    font-family: "Barlow", sans-serif;
    text-align: center;
}

button{
    margin-top: 7px;
    width: 30%;
    border-radius: 20px;
    height: 10vw;
    font-size: 3vw;
    padding: 10px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    user-select: none;
    
}
.stars{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
}
.star{
    cursor:pointer;
    font-size: 4vh;
    margin:0;  
    margin-top: -2vh;
}
input {
    padding: 8px 8px;
    margin: 1vw;
    width:15vw;
}

input[type="checkbox"] {
    transform: scale(2.5);
    margin: 10px;
    cursor: pointer;
  }
select {
    padding: 18px 18px;
}
.buttons{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.qr{
    border-style: solid;
    border-color: #e9fbff;
    border-width: 0.5vw;
    margin:1vw;
    width: 70vw;
    height: 70vw;
}

.section{
    margin: auto;
    width: 80%;
    /* border: 1px solid black; */
    border-radius: 50px;
    padding: 10px;
    background-color: #101010;
}




h1,h2,h3,p,label{
    color:#e9fbff;
}

.Rating{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bumpWrap, .trenchWrap, .defenceWrap{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    background-color: rgb(55, 90, 100);
    width: 33%;
    padding: 15px;
    border-radius: 20px;
}

.bumpWrap input, .trenchWrap input, .defenceWrap input{
    margin-top: 0;
}

.bumpWrap p, .trenchWrap p, .defenceWrap p{
    justify-content: center;
    width: 70%;
}


#bump, #trench, #defence{
    width: 20px;
    outline: none;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
}


#climb{
    border-radius: 10px;
    background-color: #4caf50;
    outline: none;
    width: 100%;
    padding: 20px;
    display: inline;
    align-items: center;
}


#climb option{
    background-color: #5ec561;
    border-radius: 20px;
}




#climb:active{
    background-color: #255427;
}






#bump:checked{
    background-color: #4caf50;
    border-color: #4caf50;
}


.toggleButton{
    width: 50%;
}


.redZone, .blueZone
{
    position: relative;
    border: 0;
    margin: -2.2px;
    width: 45%;
    color: aliceblue;
    font-size: 16px;
    padding: 15px;
    height: 70%;


}


.redZone p, .blueZone p
{
    font-size: 0.8em;
}


.redZone{
    background-color: rgb(181, 35, 15);
    border-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


.blueZone{

    background-color: rgb(35, 49, 151);
    border-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


.activated{
    transform: scale(1.1);
    border-radius: 12px;
    z-index: 5;
    box-shadow: 0 0 5px 1px white;
    opacity: 1;
}


.de-activated{
    /* transform: 0.8; */
    opacity: 0.7;
    /* z-index: 1; */
}

.comment-section{
    margin-top: 40px;
}

.comment-section textarea{
    border-radius: 5px;
    outline: none;
}

.input-container{
    display:flex; 
    justify-content: center; 
    flex-direction: row;
    margin-top: 40px;
}

.input-container input{
    border-radius:5px;
    outline: none;
}

#submit{
    background-color: #4caf50;
    margin-top: 40px;
}

#exit{
    background-color: rgb(240, 65, 1);
}


.breakDown{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#breakdown{
    width: 75%;
    margin: 0;
}

.checkerRow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}