.scout-button{
    margin: 35px;
    border-radius: 20%;
    background-color: rgb(0, 98, 255);
    display: block;
    width: 25%;
    margin-left:37.5%;
    text-decoration: none;
    border: none;
    height:120px;
    /* flex-wrap: wrap; */
}
.scout-div{
    text-decoration: none;
}
.scout-button p{
    color: white;
    font-size: 20px;
    
}

.logo{
    border-radius: 50%;
    height: 400px;
    margin-top: 70px;
}
