.scout-button{
    margin: 35px;
    border-radius: 20%;
    background-color: rgb(0, 98, 255);
    display: block;
    width: 25%;
    margin-left:37.5%;
    text-decoration: none;
    border: none;
    height:120px;
    /* flex-wrap: wrap; */
}
.scout-div{
    text-decoration: none;
}
.scout-button p{
    color: white;
    font-size: 2vw;
    
}

.logo{
    border-radius: 50%;
    height:25vh;
    margin-top: 70px;
}

.logo:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

p{
    font-weight: bold;
    line-height: 0.9;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 50px;
}


.douglass{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapped{
    position: relative;
    width: 250px;
    height: 250px
}

.speech{
    position: absolute;
    width: 125px;
    height: 125px;
    left: 75%;
}

.logo{
    position: absolute;
    bottom: -25px;
    width: 250px;
    height: auto;
    right: 1%;
    /* right: 75%; */
}