
.slidecontainer {
  width: 100%; /* Width of the outside container */

}

/* .slider{
    width: 80%;
    height: 10%;
    margin: 0;
    appearance: none;
    background-color: rgba(25, 97, 184, 0.673);
    border-radius: 20px;
} */

.slider {
  appearance: none;
  width: 70%; 
  height: 40px; 
  background: rgba(25, 97, 184, 0.673); 
  border-radius: 25px;
  padding:0;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 4px; 
  height: 40px; 
  background: #2f08a5; 
  cursor: pointer; 
}

.slider-section p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.slide-container p{
    font-size: 40px;
}

.warm{
    display: inline-block;
    padding: 20px;
    background-color: rgb(89, 13, id="value");
}

.error{
    border-radius: 15px;
    border:0;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.error::-webkit-outer-spin-button,
.error::-webkit-inner-spin-button {
  -webkit-appearance: none;
  color: brown;
  left: 30px;
}

#upArrow {
    width: 100px;
    height: 250px;
}

#downArrow {
    width: 80px;
    height: 300px;
}

#upArrow:hover, #downArrow:hover {
    transform: scale(1.25);
    transition: transform 0.3s;
}

.input-container {
    display: inline-block; 
    width: 20px;
}


.Margin-of-Error{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 30px;
}