body {
    background-color: #1b1b1b;
    font-family: "Barlow", sans-serif;
    text-align: center;
}

img{
    height:90vh;
}

.content{
    position: relative;
    margin-inline: auto;
    width:fit-content;
}

.textbox{
    position:relative;
    background-color: #1b1b1b;
    border: 2px solid #65d2eb;
    color: #e9fbff;
    padding:10px;
    border-radius: 5px;
    z-index: 101;
    bottom:0%
    
}
.joowon{
    position:relative;
    width:150px;
    height:auto;
    z-index: 100;
}

.dialogue{
    position:absolute;
    width:300px;
    left:0%;
    top:0%;
}

