body {
    background-color: lightblue;
    font-family: "Barlow", sans-serif;
    text-align: center;
}

button {
    padding: 10px 10px;
    white-space: pre-wrap;

}
input {
    padding: 18px 18px;
    margin: 6px;
}
input[type="checkbox"] {
    transform: scale(2.5);
    margin: 10px;
    cursor: pointer;
  }
select {
    padding: 18px 18px;
}
.buttons{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.fixedElement {
    position: fixed;
    display: flex;
    flex-direction: column;

    top:0;
    height:auto; 
    max-width: 15vh;
    left: 0px;
    padding: 0px; 
    z-index: 1000;

    top:50%;
    transform: translate(0, -50%);
    
}
.fixedElement a {
    flex: 1;
    margin:0;
}
.fixedElement img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.section {
    margin: auto;
    width: 80%;
    /* border: 1px solid black; */
    border-radius: 30px;
    padding: 10px;
    background-color: lightskyblue;
    box-shadow: 0 10px 20px 0 rgba(54, 3, 163, 0.2), 0 6px 12px 0 rgba(55, 4, 107, 0.19);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */

}

/* .slider{
    width: 80%;
    height: 10%;
    margin: 0;
    appearance: none;
    background-color: rgba(25, 97, 184, 0.673);
    border-radius: 20px;
} */

.slider {
  appearance: none;
  width: 70%; 
  height: 40px; 
  background: rgba(25, 97, 184, 0.673); 
  border-radius: 25px;
  padding:0;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 4px; 
  height: 40px; 
  background: #2f08a5; 
  cursor: pointer; 
}

.slider-section p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.slide-container p{
    font-size: 40px;
}

.warm{
    display: inline-block;
    padding: 20px;
    background-color: rgb(89, 13, id="value");
}

.error{
    border-radius: 15px;
    border:0;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.error::-webkit-outer-spin-button,
.error::-webkit-inner-spin-button {
  -webkit-appearance: none;
  color: brown;
  left: 30px;
}

#upArrow {
    width: 100px;
    height: 250px;
}

#downArrow {
    width: 80px;
    height: 300px;
}

#upArrow:hover, #downArrow:hover {
    transform: scale(1.25);
    transition: transform 0.3s;
}

.input-container {
    display: inline-block; 
    width: 20px;
}
