body {
    background-color: lightblue;
    font-family: "Barlow", sans-serif;
    text-align: center;
}

button {
    padding: 10px 10px;
    white-space: pre-wrap;

}
input {
    padding: 18px 18px;
    margin: 6px;
}
input[type="checkbox"] {
    transform: scale(2.5);
    margin: 10px;
    cursor: pointer;
  }
select {
    padding: 18px 18px;
}
.buttons{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.fixedElement {
    position: fixed;
    display: flex;
    flex-direction: column;

    top:0;
    height:auto; 
    max-width: 15vh;
    left: 0px;
    padding: 0px; 
    z-index: 1000;

    top:50%;
    transform: translate(0, -50%);
    
}
.fixedElement a {
    flex: 1;
    margin:0;
}
.fixedElement img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.section {
    margin: auto;
    width: 80%;
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px;
    background-color: lightskyblue;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
